<div class="user-card">
    <div class="card-image">
        <div class="online-indicator" *ngIf="user.isOnline"></div>
    </div>

    <div class="card-info">
        <h3 class="user-name">{{ user.name }}, {{ user.age }}</h3>
        <div class="user-details">
            <span class="distance">
                <span class="icon">📍</span>
                {{ user.distance }}
            </span>
            <span class="photo-count">
                <span class="icon">📷</span>
                {{ user.photoCount }}
            </span>
        </div>
    </div>
</div>