# Database Configuration - PostgreSQL
DATABASE_URL="file:./dev.db"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_VLHjK9ylZ5gx@ep-bitter-recipe-acoafq1s.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="supersecretkey"
PORT=8080

# Environment Configuration
NODE_ENV= "development"

# Frontend URLs
FRONTEND_URL=http://localhost:4200