# Database Configuration - PostgreSQL
DATABASE_URL="file:./dev.db"
# uncomment next line if you use Prisma <5.10
JWT_SECRET="supersecretkey"
PORT=8080

# Environment Configuration
NODE_ENV= "development"

# Frontend URLs
FRONTEND_URL=http://localhost:4200