<div class="splash-root">
    <div class="orb"></div>
    <div class="orb"></div>
    <div class="orb"></div>

    <div class="branding">
        <div class="logo">
            <img src="assets/Group.png" alt="Group Background" class="logo-bg">
            <img src="assets/logo.png" alt="App Logo" class="logo-main">
        </div>
    </div>
    <div class="cta-container">
        <a routerLink="/login" class="cta">
            Começar
            <span class="arrow">→</span>
        </a>
    </div>
</div>