<div class="login-root">
    <div class="header">
        <a class="back-button" routerLink="/login">
            <i class="ph-bold ph-arrow-left arrow-back"></i>
        </a>
        <h2 class="title">Detalhes Pessoais</h2>
    </div>

    <div class="content">
        <div class="profile-section">
            <h1 class="main-title">Dados do Perfil</h1>
            <p class="subtitle">Preencha os dados abaixo</p>

            <div class="avatar-container">
                <div class="avatar">
                    <img [src]="avatarUrl" alt="Profile Avatar" *ngIf="avatarUrl">
                    <div class="avatar-placeholder" *ngIf="!avatarUrl">
                        <i class="ph-bold ph-user user-icon"></i>
                    </div>
                </div>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
                <button type="button" class="camera-button" (click)="fileInput.click()">
                    <i class="ph-bold ph-camera camera-icon"></i>
                </button>
            </div>
        </div>

        <form class="profile-form">
            <div class="form-group">
                <app-input typeInput="text" placeholderInput="Nome" [(ngModel)]="firstname" name="firstname">
                </app-input>
            </div>

            <div class="form-group">
                <app-input typeInput="text" placeholderInput="Sobrenome" [(ngModel)]="lastname" name="lastname">
                </app-input>
            </div>

            <div class="form-group">
                <app-input typeInput="date" placeholderInput="Data de Nascimento" [(ngModel)]="dob" name="dob">
                </app-input>
            </div>

            <div class="form-group">
                <app-input typeInput="email" placeholderInput="Email" [(ngModel)]="email" name="email">
                </app-input>
            </div>

            <div class="form-group">
                <app-input typeInput="password" placeholderInput="Senha" [(ngModel)]="password" name="password">
                </app-input>
            </div>

            <div class="form-group">
                <label>Gênero:</label>
                <div class="select-wrapper">
                    <select class="custom-select" [(ngModel)]="gender" name="gender" required>
                        <option value="MALE">Masculino</option>
                        <option value="FEMALE">Feminino</option>
                        <option value="OTHER">Outro</option>
                    </select>
                    <i class="ph ph-arrow-down select-arrow"></i>
                </div>
            </div>

            <div class="form-group">
                <label>Interesse em:</label>
                <div class="select-wrapper">
                    <select class="custom-select" [(ngModel)]="preference" name="preference" required>
                        <option value="MALE">Homens</option>
                        <option value="FEMALE">Mulheres</option>
                        <option value="OTHER">Todos</option>
                    </select>
                    <i class="ph ph-arrow-down select-arrow"></i>
                </div>
            </div>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <div class="button-container">
                <app-button textButton="{{ isLoading ? 'Cadastrando...' : 'Continuar' }}" [disabled]="isLoading"
                    type="submit" (clicked)="onRegister()">
                </app-button>
            </div>
        </form>
    </div>
</div>